/v1_20_R1/target/vmodulesbreaker-v1_20_R1-1.0-remapped.jar
/v1_20_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/v1_20_R2/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/v1_20_R3/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/v1_20_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/v1_20_R2/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/v1_20_R3/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/original-vModules_Breaker_1.0.jar
/v1_20_R1/target/original-vModules_Breaker_1.0.jar
/v1_20_R2/target/original-vModules_Breaker_1.0.jar
/v1_20_R3/target/original-vModules_Breaker_1.0.jar
/v1_20_R1/target/maven-archiver/pom.properties
/v1_20_R2/target/maven-archiver/pom.properties
/v1_20_R3/target/maven-archiver/pom.properties
/v1_20_R1/target/vModules_Breaker_1.0.jar
/v1_20_R2/target/vModules_Breaker_1.0.jar
/v1_20_R3/target/vModules_Breaker_1.0.jar
/v1_20_R1/target/vmodulesbreaker-v1_20_R1-1.0-remapped-obf.jar
/v1_20_R2/target/vmodulesbreaker-v1_20_R2-1.0-remapped.jar
/v1_20_R2/target/vmodulesbreaker-v1_20_R2-1.0-remapped-obf.jar
/v1_20_R3/target/vmodulesbreaker-v1_20_R3-1.0-remapped.jar
/v1_20_R3/target/vmodulesbreaker-v1_20_R3-1.0-remapped-obf.jar
